<div class="span11">
    <h3 class="text-center">Reading Activity</h3>
    <highchart id="chart1" config="chartConfig.timeSpentByDates"></highchart>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span6">
    <h4 class="text-center">Total Time Spent By Books</h4>
    <highchart id="chart1" config="chartConfig.timeSpentByBooks"></highchart>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span5">
    <h4 class="text-center">Your Popular Book Categories</h4>
    <p style="text-align: center;">Coming soon..</p>
    <!--     <highchart id="chart1" config="chartConfig.trendingCategories"></highchart> -->
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Trending Book Categories</h4>
    <div id="chartTrendingCategory" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Number of users based on all categories</h4>
    <div id="usersForCategory" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Number of users based on all categories and age level</h4>
    <div id="usersForCategoryNAge" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Total time spent based on all categories and age level</h4>
    <div id="userTimeSpentCategoryAge" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <!--	<h4 class="text-center">Number of chidren users based on categories</h4>-->
    <h4 class="text-center">User - Children</h4>
    <div id="childUsersForCategoryNAge" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Children users time spent based on categories</h4>
    <div id="childTimeSpentCategory" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Children user pages read based on categories</h4>
    <div id="childUserPagesReadCategory" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Users - Children</h4>
    <div id="childTimeSpentCategoryAvg" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Users - Teen and Young Adult</h4>
    <div id="youngUsersForCategoryNAge" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Teen & Young Adult users time spent based on categories</h4>
    <div id="youngTimeSpentCategory" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Teen & Young Adult user pages read based on categories</h4>
    <div id="youngUserPagesReadCategory" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Users - Teen and Young Adult</h4>
    <div id="youngTimeSpentCategoryAvg" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Users - Adult</h4>
    <div id="adultUsersForCategoryNAge" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Adult users time spent based on categories</h4>
    <div id="adultTimeSpentCategory" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Users - Adult</h4>
    <div id="adultUserPagesReadCategory" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Users - Adult</h4>
    <div id="adultTimeSpentCategoryAvg" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Pages read based on all categories and age level</h4>
    <div id="userPagesReadCategoryAge" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Pages read based on age level</h4>
    <div id="userPagesReadAge" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>


<div class="span12">
    <h4 class="text-center">Average time spent Versus words lookup of child users by History</h4>
    <div id="childWordLookupScatterCat1" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Average time spent Versus words lookup of child users by  Science Fiction & Fantasy</h4>
    <div id="childWordLookupScatterCat2" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Average time spent Versus words lookup of child users by Mysteries & Detectives</h4>
    <div id="childWordLookupScatterCat3" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Average time spent Versus words lookup of Teen & Young Adult users by Science Fiction & Fantasy</h4>
    <div id="youngWordLookupScatterCat1" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Average time spent Versus words lookup of Teen & Young Adult users by  Mysteries & Thrillers</h4>
    <div id="youngWordLookupScatterCat2" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Average time spent Versus words lookup of Teen & Young Adult users by Romance</h4>
    <div id="youngWordLookupScatterCat3" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>


<div class="span12">
    <h4 class="text-center">Average time spent Versus words lookup of Adult users by Science Fiction & Fantasy</h4>
    <div id="adultWordLookupScatterCat1" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Average time spent Versus words lookup of Adult users by  Mysteries & Thrillers</h4>
    <div id="adultWordLookupScatterCat2" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Average time spent Versus words lookup of Adult users by Romance</h4>
    <div id="adultWordLookupScatterCat3" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Average time spent Versus words lookup of Adult users by Foreign Languages</h4>
    <div id="adultWordLookupScatterCat4" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span12">
    <h4 class="text-center">Average time spent Versus words lookup of users by Science Fiction & Fantasy</h4>
    <div id="allWordLookupScatterCat1" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="clearfix"></div>
<br/>

<div class="span12">
    <h4 class="text-center">Average time spent Versus words lookup of users for all category</h4>
    <div id="allWordLookupScatterCat2" style="height: 600px"></div>
</div>

<div class="clearfix"></div>
<br/><div class="clearfix"></div>
<br/>


<div class="span text-center1">
    <h4 class="text-center">Children Users</h4>
    <h4 class="text-center">Average time spent - Mysteries and Detectives vs Science Fiction and Fantasy</h4>
    <div id="childAvgTimeSpentScatterCat1" style="height: 600px;width:600px;"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="clearfix"></div>
<br/>


<div class="span8 text-center">
    <h4 class="text-center">Children Users</h4>
    <h4 class="text-center">Average time spent - History vs Science Fiction and Fantasy</h4>
    <div id="childAvgTimeSpentScatterCat2" style="height: 600px;width:600px;"></div>
</div>

<div class="clearfix"></div>
<br/><div class="clearfix"></div>
<br/>


<div class="span9 text-center1">
    <h4 class="text-center">Teen and Young Adult Users</h4>
    <h4 class="text-center">Average time spent - Mysteries and Detectives vs Science Fiction and Fantasy</h4>
    <div id="youngAvgTimeSpentScatterCat1" style="height: 600px;width:600px;"></div>
</div>


<div class="clearfix"></div>
<br/>
<div class="clearfix"></div>
<br/>


<div class="span8 text-center">
    <h4 class="text-center">Teen and Young Adult Users</h4>
    <h4 class="text-center">Average time spent - Romance vs Science Fiction and Fantasy</h4>
    <div id="youngAvgTimeSpentScatterCat2" style="height: 600px;width:600px;"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="clearfix"></div>
<br/>


<div class="span9 text-center1">
    <h4 class="text-center">Adult Users</h4>
    <h4 class="text-center">Average time spent - Mystery, Thriller and Suspense vs Science Fiction and Fantasy</h4>
    <div id="adultAvgTimeSpentScatterCat1" style="height: 600px;width:600px;"></div>
</div>


<div class="clearfix"></div>
<br/>
<hr/>


<div class="span8 text-center">
    <h4 class="text-center">Adult Users</h4>
    <h4 class="text-center">Average time spent - Romance vs Science Fiction and Fantasy</h4>
    <div id="adultAvgTimeSpentScatterCat2" style="height: 600px;width:600px;"></div>
</div>

<div class="clearfix"></div>
<br/>
<div class="clearfix"></div>
<br/>


<div class="span8  text-center">
    <h4 class="text-center">Adult Users</h4>
    <h4 class="text-center">Average time spent - Romance vs Foreign Languages</h4>
    <div id="adultAvgTimeSpentScatterCat3" style="height: 600px;width:600px;"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="clearfix"></div>
<br/>
<hr/>


<div class="span9 text-center1">
    <h4 class="text-center1">Average time spent - Mysteries and Detectives vs Science Fiction and Fantasy</h4>
    <div id="allAvgTimeSpentScatterCat1" style="height: 600px;width:600px;"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="clearfix"></div>
<br/>
<hr/>

<div class="span8 text-center">
    <h4>Average time spent - Romance vs Science Fiction and Fantasy</h4>
    <div class="text-center1" id="allAvgTimeSpentScatterCat2" style="height: 600px;width:600px;"></div>
</div>

<div class="clearfix"></div>
<br/>
<hr/>